.Avava-SP__Wrapper {
  width: 293px;
  position: relative;
  z-index: 99;
  color: #333;

  height: fit-content;
  overflow: hidden;
  transform: none;

  &--top-left {
    top: 0;
    left: 0;
  }

  &--top-right {
    top: 0;
    right: 0;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
  }

  &.is-mobile {
    width: 100%;
    left: 50%;
    transform: translateX(-50%) scale(0.95);
    height: auto;
    padding-top: 6px;
  }

  &.is-absolute {
    position: absolute;
  }

  @media screen and (max-width: 575px) {
    left: 15px;
  }

  img {
    max-width: 135px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -100px;
    left: -10px;
    transition: all 500ms ease;
  }

  .Avava-SP__Inner {
    width: 100%;

    &:hover img {
      opacity: 1;
      visibility: visible;
      top: -120px;
    }
  }

  .Avava-SP__LinkWrapper {
    color: #333;
  }

  .Avava-SP__Container {
    border-radius: 20px;
    box-shadow: 3px 0 5px rgba(5, 5, 5, 0.07);
    background: #ffffff;
    padding: 5px;
  }

  .Avava-SP__Image {
    height: 65px;
    width: 65px;
    border-radius: 15px;
    color: #43495a;
    font-size: 55px;
    display: inline-block;
    text-align: center;
    line-height: 69px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    font-weight: bold;
  }

  .Avada-SP__Content {
    display: inline-block;
    width: calc(100% - 75px);
    padding: 5px 0 5px 15px;

    .Avada-SP__Title {
      font-size: 12px;
      margin-bottom: 0;

      &--truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }

    .Avada-SP__Subtitle {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 600;

      &--truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }

    .Avada-SP__Footer {
      font-size: 10px;
      line-height: 16px;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .uni-blue {
        color: #2196f3;
      }
    }
  }
}
